@import "./variables";


h2 {
  font-size: 25px;
  font-weight: bold;
}

.keyword-h2 {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: $color-turquoise;
}

.title-h2 {
  font-size: 17px;
  font-weight: bold;
}

svg {
  fill: #63d1bb;
}

.wavy-line {
  width: 100%;
  height: 7px;
  &__m {
    display: block;
  }
  &__t {
    display: none;
  }
  &__d {
    display: none;
  }
  &__bg-zigzag-fill {
    display: none;
  }
}

.zigzag-line {
  display: none;
}

.straight-line {
  position: absolute;
  top: 23px;
  right: 0px;
  height: 1px;
  width: 190px;
  background-color: #62d1ba;
}

.text-depiction {
  font-weight: normal;
  font-size: 15px;
  color: #444444;
}

.btn {
  display: inline-block;
  padding: 20px 80px 20px 80px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background: #ffffff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #444444;
  cursor: pointer;
}

.btn:hover {
  background-color: #444;
  color: #fff;
}
.btn:focus {
  color: #8d8d8d;
}

@media (min-width: $tablet-width) {
  .straight-line {
    display: none;
  }
  .keyword-h2 {
    width: 167px;
  }

  .wavy-line {
    width: 100%;
    height: 17px;

    &__m {
      display: none;
    }
    &__t {
      display: block;
    }
    &__d {
      display: none;
    }
    &__bg-zigzag-fill {
      display: block;
    }
  }

  .zigzag-line {
    position: absolute;
    display: block;
    top: 610px;
    width: 100%;
    height: 17px;
    background: url(../img/bg-zigzag-fill.svg);
  }
}

@media (min-width: $desktop-width) {
  .keyword-h2 {
    margin: 20px 0 0 40px;
  }
  .wavy-line {
    width: 100%;
    height: 23px;
    &__m {
      display: none;
    }
    &__t {
      display: none;
    }
    &__d {
      display: block;
    }
    &__bg-zigzag-fill {
      display: block;
    }
  }

  .zigzag-line {
    position: absolute;
    display: block;
    top: 832px;
    width: 100%;
    height: 23px;
    background: url(../img/bg-zigzag-fill.svg);
  }
}
