@import "fonts";

@import "mixins";

@import "common";

@import "normalize";

@import "./blocks/body";

@import "./blocks/container";

@import "./blocks/page-header";

@import "./blocks/main-nav";

@import "./blocks/breadcrumbs";

@import "./blocks/main-header";

@import "./blocks/products-links";

@import "./blocks/product-week";

@import "./blocks/about-us";

@import "./blocks/reviews";

@import "./blocks/contacts";

@import "./blocks/page-footer";

@import "./blocks/social";

@import "./blocks/order";

@import "./blocks/form";

@import "./blocks/type";

@import "./blocks/color";

@import "./blocks/fio";

@import "./blocks/phone";

@import "./blocks/email";

@import "./blocks/additionally";

@import "./blocks/reminder";

@import "./blocks/goods";

@import "./blocks/catalog-description";

@import "./blocks/video";

@import "./blocks/popap";
