@import "./variables";
@import "../common";

.additionally {
  position: relative;

  h2.additionally__title {
    margin: 0 0 20px 0;
  }
}


@media (min-width: $tablet-width) {
  .additionally {
    display: flex;
    margin: 0 0 22px 0;
    padding: 21px 50px 31px 50px;

    h2.additionally__title {
      margin: 13px 0 20px 0;
    }
    & textarea {
      margin: 0 0 0 55px;
      width: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    padding: 19px 100px 27px 73px;

    & textarea {
      margin: 0 125px 0 0;
    }
    h2.additionally__title {
      margin: 14px 0 0 39px;
    }
  }
}
