@import "./variables";
@import "./common";

.catalog-description {


  &__block {
    display: flex;
    flex-direction: column;
    border: 1px solid #ececec;
    border-top: none;
    margin: -4px 0 0 0;
  }
  &__title {
    width: 196px;
    margin: 30px 0 0 0;
    padding: 0 30px 0 30px;
    font-size: 17px;
    line-height: 24px;
  }
  &__link {
    text-decoration: none;
    color: #000;
  }
  &__link:hover {
    opacity: 0.6;
  }
  &__link:focus {
    opacity: 0.3;
  }
  &__parameter {
    padding: 0 30px 0 30px;
    font-size: 13px;
    line-height: 30px;
    font-weight: normal;
    color: #444;
  }
  &__line {
    margin: 30px 30px 30px 30px;
    height: 1px;
    background: #ececec;
  }
  &__price {
    position: relative;
    padding: 0 30px 30px 30px;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
  }
  &__basket svg {
    position: absolute;
    top: 0;
    right: -40px;
    fill: #444;
    opacity: 0.2;
    cursor: pointer;
  }
  &__basket:hover svg {
    fill: #62d1ba;
    opacity: 1;
  }
  &__basket:focus svg {
    fill: #62d1ba;
    opacity: 0.2;
  }
}


@media (min-width: $tablet-width) {

 .catalog-description {
  display: flex;

  &__image {
    width: 334px;
    height: 334px;
  }
  &__block {
    @include clearfix;
    margin: 0;
    width: 334px;
    border-top: 1px solid #ececec;
  }
  &__title {
    width: 230px;
    margin: 30px 0 0 0;
    padding: 0 30px 0 30px;
    font-size: 20px;
    line-height: 24px;
  }
  &__parameter {
    padding: 0 30px 0 30px;
    font-size: 15px;
    font-weight: normal;
    color: #444;
  }
  &__line {
    margin: 168px 30px 10px 30px;
    height: 1px;
    background: #ececec;
  }
  &__price {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 30px 30px 30px;
    font-size: 17px;
    font-weight: bold;
  }
  &__basket svg {
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0.2;
    cursor: pointer;
  }
}
}

@media (min-width: $desktop-width) {

 .catalog-description {
  display: block;
  width: 315px;


  &__image {
    width: 315px;
    height: 462px;
  }
  &__block {
    @include clearfix;
    width: 313px;
    margin: -4px 0 0 0;
    border-top: 1px solid #ececec;
  }
  &__title {
    width: 230px;
    margin: 30px 0 0 0;
    padding: 0 30px 0 30px;
    font-size: 20px;
  }
  &__parameter {
    padding: 0 30px 0 30px;
    font-size: 15px;
    font-weight: normal;
    color: #444;
  }
  &__line {
    margin: 45px 30px 20px 30px;
    height: 1px;
    background: #ececec;
  }
  &__price {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 30px 30px 30px;
    font-size: 17px;
    font-weight: bold;
  }
  &__basket svg {
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0.2;
    cursor: pointer;
  }
}
}
