@import "./variables";
@import "../common";

.color {
  position: relative;

  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    position: relative;
    margin: 15px 0 0 5px;
    padding: 0 0 0 30px;
    list-style: none;
  }
  & input[type="checkbox"]:checked + .form__label-checkbox .form__indicator::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    width: 7px;
    height: 2px;
    background-color: #000;
  }
  & input[type="checkbox"]:checked + .form__label-checkbox .form__indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 4px;
    width: 15px;
    height: 2px;
    background-color: #000;
  }
  & input[type="checkbox"]:checked + .form__label-checkbox .form__indicator::before {
    transform: rotate(45deg);
  }
  & input[type="checkbox"]:checked + .form__label-checkbox .form__indicator::after {
    transform: rotate(-45deg);
  }
}


@media (min-width: $tablet-width) {
  .color {
    display: flex;
    margin: 0 0 0 0;
    padding: 30px 50px 30px 50px;
    background-color: #f1f1f1;

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 0 100px;
      padding: 0;
    }
    &__item {
      position: relative;
      width: 130px;
      margin: 20px 50px 20px 9px;
      padding: 0 0 0 30px;
      list-style: none;
    }
    & input[type="checkbox"]:checked + .form__label-checkbox .form__indicator::before {
      content: "";
      position: absolute;
      top: 23px;
      left: 2px;
      width: 15px;
      height: 2px;
      background-color: #000;
    }
    & input[type="checkbox"]:checked + .form__label-checkbox .form__indicator::after {
      content: "";
      position: absolute;
      top: 19px;
      left: 10px;
      width: 27px;
      height: 2px;
      background-color: #000;
    }
  }
}

@media (min-width: $desktop-width) {
  .color {
    display: flex;
    margin: 0 0 0 0;
    padding: 30px 50px 30px 50px;
    background-color: #f1f1f1;

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 100px 0 65px;
      padding: 0;
    }
    &__item {
      position: relative;
      width: 130px;
      margin: 20px 50px 20px 9px;
      padding: 0 0 0 30px;
      list-style: none;
    }
  }
}
