@import "./variables";
@import "../common";

.email {
  position: relative;
}


@media (min-width: $tablet-width) {
  .email {
    display: flex;
    padding: 25px 50px 70px 50px;
    background-color: #f1f1f1;

    & input {
      margin: 5px 0 0 0;
      background-color: #f1f1f1;
    }
  }
}

@media (min-width: $desktop-width) {
  .email {
    display: flex;
    padding: 25px 50px 70px 50px;
    background-color: #f1f1f1;

    & input {
      margin: 5px 175px 0 0;
      background-color: #f1f1f1;
    }
  }
}
