@import "./variables";
@import "../common";

.email {
  position: relative;

  & input {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 220px 4px;
  }
  & input:hover {
    background-image: url("../img/icon-mail-hover.svg");
    background-repeat: no-repeat;
    background-position: 220px 4px;
  }

}


@media (min-width: $tablet-width) {
  .email {
    display: flex;
    padding: 25px 50px 70px 50px;
    background-color: #f1f1f1;

    & input {
      margin: 5px 0 0 0;
      background-color: #f1f1f1;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 490px 10px;
    }
    & input:hover {
      background-image: url("../img/icon-mail-hover.svg");
      background-repeat: no-repeat;
      background-position: 490px 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .email {
    display: flex;
    padding: 25px 50px 70px 50px;
    background-color: #f1f1f1;

    & input {
      margin: 5px 175px 0 0;
      background-color: #f1f1f1;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 670px 10px;
    }
    & input:hover {
      background-image: url("../img/icon-mail-hover.svg");
      background-repeat: no-repeat;
      background-position: 670px 10px;
    }
  }
}
