@import "./variables";
@import "../common";

.fio {
  position: relative;
  margin: 0 0 0 0;

  &__list {
    padding: 0 0 0 2px;
    margin: 23px 0 0 0;
  }
  &__item {
    margin: 0px 0 21px 0;
    list-style: none;
  }

}


@media (min-width: $tablet-width) {
  .fio {
    display: flex;
    margin: 0;
    padding: 50px 50px 26px 50px;

    &__list {
      width: 100%;
      margin: 0;
      padding: 0 0 0 44px;
    }
    &__item {
      display: flex;
      align-items: baseline;
      margin: 0 0 23px 0;
      list-style: none;
    }
    &__item input {
      margin: 0 0 0 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .fio {
    padding: 52px 50px 50px 50px;

    &__list {
      margin: 0 0 0 -22px;
      padding: 0;
    }
    &__item {
      display: flex;
      align-items: baseline;
      margin: 0 176px 9px 0;
      list-style: none;
    }
    &__item input {
      margin: 0 0 0 30px;
    }
    &__title.keyword-h2 {
      margin: 20px 0 0 0;
      padding: 0 0 0 59px;
    }
  }
}
