@import "./variables";
@import "./common";

.form {
  display: flex;
  flex-direction: column;


  &__input-radio[type="radio"] {
    display: none;
  }
  &__input-checkbox[type="checkbox"] {
    display: none;
  }
  &__input-text[type="text"],
  &__input-text[type="tel"],
  &__input-text[type="email"],
  &__input-textarea[type="text"] {
    font-size: 17px;
    line-height: 18px;
    padding: 14px 0 15px 0px;
  }
  &__input--phone[type=tel],
  &__input--email[type="email"] {
    padding: 18px 0 16px;
  }
  &__input-text[type="text"]:hover,
  &__input-text[type="tel"]:hover,
  &__input-text[type="email"]:hover {
    border-bottom: 2px solid #62d1ba;
  }
  &__input-text[type="text"]:focus,
  &__input-text[type="tel"]:focus,
  &__input-text[type="email"]:focus {
    border-bottom: 2px solid #62d1ba;
  }
  &__label-radio,
  &__label-checkbox,
  &__label-text {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    margin: 0 0 0 0;
    cursor: pointer;
  }
  &__input-text[type="text"]::-webkit-input-placeholder,
  &__input-textarea[type="text"]::-webkit-input-placeholder {
    color: #ccc;
  }
  &__input-text[type="text"]::-moz-placeholder,
  &__input-textarea[type="text"]::-moz-placeholder {
    color: #ccc;
  }
  &__input-text[type="tel"]::-webkit-input-placeholder,
  &__input-text[type="email"]::-webkit-input-placeholder, {
    color: #ccc;
  }
  &__input-text[type="tel"]::-moz-placeholder,
  &__input-text[type="email"]::-moz-placeholder {
    color: #ccc;
  }
  &__input-text {
    width: 100%;
    padding: 10px 0 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
  }
  &__input-textarea {
    width: 226px;
    border: 2px solid #000;
    outline: 0;
    resize: none;
    font-size: 17px;
    overflow: auto;
    height: 128px;
    padding: 10px 16px 0;
  }
  &__input-textarea:hover {
    border: 2px solid #62d1ba;
  }
  &__input-textarea:focus {
    border: 2px solid #62d1ba;
  }
}

@media (min-width: $tablet-width) {
  .form {

    &__input-radio[type="radio"] + .form__label-radio .indicator-radio,
    &__input-checkbox[type="checkbox"] + .form__label-checkbox .indicator--checkbox {
      position: absolute;
      top: -10px;
      left: -30px;
      width: 40px;
      height: 40px;
      border: 1px solid #444;
    }
    &__input-radio[type="radio"]:checked + .form__label-radio .indicator-radio::before,
    &__input-checkbox[type="checkbox"]:checked + .form__label-checkbox .indicator--checkbox::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 20px;
      height: 20px;
      background-color: #000;
    }
    &__input-text[type="text"],
    &__input-text[type="tel"],
    &__input-text[type="email"],
    &__input-textarea[type="text"] {
      font-size: 19px;
      padding: 11px 11px 14px;
    }
    &__input--phone[type=tel],
    &__input--email[type="email"] {
      padding: 0 0 14px 16px;
      margin: 5px 0 19px 48px;
    }
    &__label-radio,
    &__label-checkbox,
    &__label-text {
      font-size: 19px;
      font-weight: bold;
      margin: 0 0 0 0;
    }
    &__input-textarea {
      border: 2px solid #000;
      outline: 0;
      resize: none;
      font-size: 19px;
      overflow: auto;
      height: 130px;
      padding: 8px 24px 0 14px;
    }
  }
}

@media (min-width: $desktop-width) {
 .form {


  &__input-text[type="text"],
  &__input-text[type="tel"],
  &__input-text[type="email"],
  &__input-textarea[type="text"] {
    padding: 16px 0 20px;
  }
  &__input--phone[type=tel],
  &__input--email[type="email"] {
    padding: 0 0 14px 16px;
    margin: 52px 0 0 48px;
  }
  &__input--email[type="email"] {
    margin-top: 35px;
  }
}
}
