@import "./mixins";
@import "./variables";


.main-nav {
  position: relative;
  width: 320px;
  background-color: #fff;


  &__list {
    margin: 83px 0 0 0;;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
  }
  &__item {
    position: relative;
    padding: 30px 20px 30px 20px;
    list-style: none;
    border-top: 1px solid #ececec;
  }
  &__item a {
    display: block;
    padding: 0 0 0 60px;
    text-decoration: none;
    color: #000;
  }
  &__item--search {
    position: relative;
  }
  &__item--search:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 32px;
    left: 30px;
    opacity: 0.2;
    background: url(../img/icon-search.svg) no-repeat;
  }
  &__item--basket {
    position: relative;
  }
  &__item--basket:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 32px;
    left: 30px;
    opacity: 0.2;
    background: url(../img/icon-cart.svg) no-repeat;
  }
}

.main-nav--closed .main-nav__btn {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 35px;
  right: 30px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  text-indent: 20px;
  background: url(../img/icon-menu-open.svg) no-repeat;
  z-index: 10;
}

.main-nav--opened .main-nav__btn {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: -50px;
  right: 30px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  text-indent: 20px;
  background: url(../img/icon-menu-close.svg) no-repeat;
  z-index: 10;
}


@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__user-item {
    display: none;
  }

  .main-nav--nojs .main-nav__btn {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    height: auto;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}


@media (min-width: $tablet-width) {


  .main-nav {
  background-color: #fff;
  width: 768px;


    &__list {
      display: flex;
      justify-content: space-around;
      margin: 0 0 0 0;
      height: 80px;
      font-size: 17px;
      font-weight: bold;
      text-align: left;
    }
    &__item {
      position: relative;
      padding: 0 0 0 0;
      list-style: none;
      border-top: none;
    }
    &__list .main-nav__item:nth-child(1),
    &__list .main-nav__item:nth-child(2) {
      margin-top: 98px;
      margin-left: 30px;
      font-size: 15px;
      min-width: 130px;
    }
    &__list .main-nav__item:nth-child(1) a,
    &__list .main-nav__item:nth-child(2) a {
      display: block;
      margin: 0;
      padding: 0;
    }
    &__item a {
      display: block;
      padding: 30px 15px 0 15px;
      text-decoration: none;
      color: #000;
    }
    &__item--search {
      position: relative;
      margin-right: 30px;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;

    }
    &__item--search a {
      overflow: hidden;
      text-indent: -160px;
    }
    &__item--search:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 30px;
      left: 30px;
      opacity: 0.2;
      background: url(../img/icon-search.svg) no-repeat;
    }
    &__item--basket {
      position: relative;
      margin-right: 13px;
    }
    &__item--basket:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 30px;
      left: -40px;
      opacity: 0.2;
      background: url(../img/icon-cart.svg) no-repeat;
    }

  }

  .main-nav--closed .main-nav__btn {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .main-nav {
  background-color: #fff;
  width: 100%;


    &__list {
      display: flex;
      justify-content: space-around;
      margin: 0 0 0 0;
      height: 90px;
      font-size: 17px;
      font-weight: bold;
      text-align: left;
    }
    &__item {
      position: relative;
      padding: 0 0 0 0;
      list-style: none;
      border-top: none;
    }
    &__list .main-nav__item:nth-child(1),
    &__list .main-nav__item:nth-child(2) {
      font-size: 17px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 14px;
    }
    &__list .main-nav__item:nth-child(1) {
      margin-left: 38px;
      padding-right: 30px;
      border-right: 1px solid #ececec;
    }
    &__list .main-nav__item:nth-child(2) {
      padding-left: 15px;
    }
    &__list .main-nav__item:nth-child(1) a,
    &__list .main-nav__item:nth-child(2) a {
      display: block;
      margin: 0 0 0 0;
      padding: 35px 0 0 0;
    }
    &__item a {
      display: block;
      padding: 30px 15px 0 15px;
      text-decoration: none;
      color: #000;
    }
    &__item--search {
      margin-left: auto;
      margin-right: 75px;
      position: relative;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
    }
    &__item--search a {
      overflow: hidden;
      text-indent: -160px;
    }
    &__item--search:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 30px;
      left: 30px;
      opacity: 0.2;
      background: url(../img/icon-search.svg) no-repeat;
    }
    &__item--basket {
      position: relative;
      margin-right: 25px;
    }
    &__item--basket:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 30px;
      left: -40px;
      opacity: 0.2;
      background: url(../img/icon-cart.svg) no-repeat;
    }
  }
  .main-nav--closed .main-nav__btn {
    display: none;
  }

}

