@import "./mixins";
@import "./variables";


.main-nav {
  position: relative;
  width: 320px;
  background-color: #fff;


  ul.main-nav__list {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
  }
  ul.main-nav__user {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
  }
  &__item {
    position: relative;
    padding: 30px 20px 30px 20px;
    list-style: none;
    border-top: 1px solid #ececec;
  }
  &__item--disabled {
    cursor: default;
    pointer-events: none;
  }
  &__item a {
    display: block;
    padding: 0 0 0 60px;
    text-decoration: none;
    color: #000;
  }
  &__item--search-svg {
    position: absolute;
    padding: 0 180px 0 0;
    opacity: 0.2;
    top: 31px;
    left: 0;
    fill: #231F20;
  }
  &__item--basket-svg {
    position: absolute;
    padding: 0 185px 0 0;
    opacity: 0.2;
    top: 31px;
    left: 0;
    fill: #231F20;
  }
  &__item a:hover {
    color: #8d8d8d;
  }
  &__item a:focus {
    color: #cacaca;
  }
  &__item--search-svg:hover {
    fill: #63d1bb;
    opacity: 1;
  }
  &__item--search-svg:focus {
    fill: #63d1bb;
    opacity: 0.3;
  }
  &__item--basket-svg:hover {
    fill: #63d1bb;
    opacity: 1;
  }
  &__item--basket-svg:focus {
    fill: #63d1bb;
    opacity: 0.3;
  }
  li.main-nav__item.main-nav__item--search {
    width: 280px;
  }
}

.main-nav--closed .main-nav__btn {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  text-indent: 20px;
  background: url(../img/icon-menu-open.svg) no-repeat;
  z-index: 10;
}

.main-nav--opened .main-nav__btn {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  text-indent: 20px;
  background: url(../img/icon-menu-close.svg) no-repeat;
  z-index: 10;
}


@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list,
  .main-nav--closed .main-nav__user {
    display: none;
  }

  .main-nav--closed .main-nav__user-item {
    display: none;
  }

  .main-nav--nojs .main-nav__btn {
    display: none;
  }

  .main-nav--nojs .main-nav__list,
  .main-nav--nojs .main-nav__user {
    position: static;
    height: auto;
  }

  .main-nav--nojs .main-nav__list,
  .main-nav--nojs .main-nav__user {
    display: block;
  }
}


@media (min-width: $tablet-width) {


  .main-nav {
    background-color: #fff;
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;


    ul.main-nav__list {
      display: flex;
      margin: 0;
      background-color: #f9f9f9;
      width: 351px;
      font-size: 15px;
      padding-left: 33px;
      order: 3;
    }
    ul.main-nav__list--color {
      background-color: #f1f1f1;
    }
    ul.main-nav__user {
      display: flex;
      margin: 0 0 0 0;
      font-size: 17px;
      font-weight: bold;
      text-align: left;
      order: 2;
    }
    &__item {
      position: relative;
      padding: 0 0 0 0;
      list-style: none;
      border-top: none;
    }
    &__item a {
      display: block;
      padding: 18px 17px 0;
      text-decoration: none;
      color: #000;
    }
    &__item--search {
      position: relative;
      margin-right: 66px;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
    }
    &__item--search a {
      visibility: hidden;
    }
    &__item--basket {
      margin-right: 20px;
    }
    &__item--basket a {
      padding-top: 34px;
      padding-right: 31px;
    }
    &__item--search-svg {
      visibility: visible;
      padding: 5px 33px 10px;
      opacity: 0.2;
      fill: #231F20;
    }
    &__item--basket-svg {
      position: absolute;
      padding: 0 205px 0 0;
      opacity: .2;
      top: 36px;
      left: -49px;
      fill: #231f20;
    }

    li.main-nav__item.main-nav__item--search {
      width: 80px;
    }
  }

  .main-nav--closed .main-nav__btn {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .main-nav {
    background-color: #fff;
    width: 100%;
    align-items: center;


    ul.main-nav__list {
      display: flex;
      justify-content: space-around;
      margin: 0;
      background-color: #fff;
      width: auto;
      height: 80px;
      margin-left: 50px;
      padding: 0;
      font-size: 17px;
      font-weight: 700;
      text-align: left;
      order: 1;
    }
    .main-nav__list li.main-nav__item {
      padding: 0 0 0 30px;
    }
    .main-nav__list li.main-nav__item:first-child {
      padding: 0 30px 0 0;
      border-right: 1px solid #ececec;
    }
    ul.main-nav__user {
      height: 80px;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      font-size: 17px;
      font-weight: 700;
      order: 3;
    }
    &__item {
      position: relative;
      padding: 0 0 0 0;
      list-style: none;
      border-top: none;
    }
    &__item a {
      display: block;
      padding: 24px 0 0;
      text-decoration: none;
      color: #000;
    }
    &__item--search {
      margin-left: auto;
      margin-right: 68px;
      position: relative;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
    }
    &__item--search a {
      overflow: hidden;
      text-indent: -160px;
    }
    &__item--search-svg {
      padding: 0 31px 10px;
    }
    &__item--basket {
      position: relative;
      margin-right: 43px;
    }
    &__item--basket-svg {
      top: 30px;
      left: -48px;
    }
    &__item--basket a {
      padding: 24px 0 0 15px;
    }
  }
  .main-nav--closed .main-nav__btn {
    display: none;
  }

}
