@import "./variables";
@import "../common";

.order {
  margin-top: 18px;
  margin-bottom: 50px;
  padding: 0 30px;

  p.order__depiction {
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 8px 0;
  }
}


@media (min-width: $tablet-width) {
  .order {
  margin-top: 20px;
  margin-bottom: 31px;
  padding: 0;

  p.order__depiction {
    font-size: 17px;
    line-height: 30px;
    margin: 61px auto 56px auto;
    padding: 0 50px 0 50px;
  }
}
}

@media (min-width: $desktop-width) {
  .order {
    margin-top: 107px;
    margin-bottom: 0;
    padding: 0;

  p.order__depiction {
    font-size: 17px;
    line-height: 30px;
    width: 700px;
    margin: 30px auto 30px auto;
    padding: 0 50px 0 50px;
  }
}
}
