@import "./mixins";
@import "./variables";

.page-header {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  border: 1px solid white;

  &__logo {
    width: 105px;
    margin: 0 auto;
    text-align: center;
  }
  &__logo svg {
    margin: 20px 10px 20px 10px;
    fill: #000000;
  }
  &__logo .Layer_1 {
    display: none;
  }
  &__logo .Layer_2 {
    display: block;
  }
  &__logo .Layer_2:hover {
    opacity: 0.6;
  }
  &__logo .Layer_2:focus {
    opacity: 0.3;
  }
  &__logo .Layer_3 {
    display: none;
  }
  &__logo a {
    display: inline-block;
  }
}

@media (min-width: $tablet-width) {

  .page-header {
    min-height: 80px;


    &__logo {
      width: 165px;
      margin: 0 0 0 40px;
      order: 1;
    }
    &__logo .Layer_1 {
      display: block;
    }
    &__logo .Layer_2 {
      display: none;
    }
    &__logo .Layer_1:hover {
      opacity: 0.6;
    }
    &__logo .Layer_1:focus {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {

  .page-header {
    min-height: 90px;
    border-bottom: 1px solid #ececec;


    &__logo {
      margin: 0 0 0 -17px;
      order: 2;
      height: 80px;
    }
    &__logo svg {
      margin: 0;
    }
    &__logo .Layer_3 {
      display: block;
    }
    &__logo .Layer_1 {
      display: none;
    }
    &__logo .Layer_3:hover {
      opacity: 0.6;
    }
    &__logo .Layer_3:focus {
      opacity: 0.3;
    }
  }
}
