@import "./mixins";
@import "./variables";

.page-header {
  position: relative;
  min-height: 80px;
  border: 1px solid white;

  &__logo {
    position: absolute;
    width: 105px;
    height: 80px;
    top: 0;
    left: 100px;
    text-align: center;
    z-index: 10;
  }
  &__logo svg {
    margin: 20px 10px 20px 10px;
    fill: #000000;
  }
  &__logo .Layer_1 {
    display: none;
  }
  &__logo .Layer_2 {
    display: block;
  }
  &__logo .Layer_2:hover {
    opacity: 0.6;
  }
  &__logo .Layer_2:focus {
    opacity: 0.3;
  }
  &__logo .Layer_3 {
    display: none;
  }
  &__logo a {
    display: inline-block;
  }
}

@media (min-width: $tablet-width) {

  .page-header {
    min-height: 80px;


    &__logo {
      width: 165px;
      height: 95px;
      top: 0;
      left: 17px;
    }
    &__logo .Layer_1 {
      display: block;
    }
    &__logo .Layer_2 {
      display: none;
    }
    &__logo .Layer_1:hover {
      opacity: 0.6;
    }
    &__logo .Layer_1:focus {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {

  .page-header {
    min-height: 90px;


    &__logo {
      left: 500px;
      top: -10px;
    }
    &__logo .Layer_3 {
      display: block;
    }
    &__logo .Layer_1 {
      display: none;
    }
    &__logo .Layer_3:hover {
      opacity: 0.6;
    }
    &__logo .Layer_3:focus {
      opacity: 0.3;
    }
  }
}
