@import "./variables";
@import "./mixins";

.products-links {
  margin: 0;
  @include clearfix;

  &__item {
    position: relative;
    width: 320px;
    background: #63d1bb;
  }
  &__item svg {
    position: absolute;
    top: 20px;
    right: 37px;
    padding: 0 0 0 232px;
    fill: #231F20;
    opacity: 0.3;
  }
  &__title {
    margin: 0;
    padding: 23px 159px 28px 30px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
  }
  &__item--color {
    background: #56c3b2;
  }
  &__item--color svg {
    right: 27px;
  }
  &__item svg:hover {
    opacity: 0.7;
  }
  &__item svg:focus {
    opacity: 0.3;
  }
  &__title:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {

  .products-links {
    position: relative;
    display: flex;
    width: 100%;
    margin: -24px auto 0 auto;
    padding: 0;
    z-index: 10;
    background-color: #f9f9f9;

    &__item {
      width: 334px;
      margin-left: 50px;
    }
    &__item svg {
      position: absolute;
      top: 31px;
      right: 36px;
      padding: 0px 0 0 263px;
      fill: #231F20;
      opacity: 0.3;
    }
    &__title {
      margin: 0;
      padding: 30px 173px 43px 36px;
      width: 130px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
    }
    &__item--color {
      background: #56c3b2;
      margin-right: 50px;
      margin-left: 0;
    }
    &__item--color svg {
      right: 33px;
    }
  }
}

@media (min-width: $desktop-width) {

  .products-links {
    width: 100%;
    margin: -130px auto 0 auto;

    &__item {
      width: 525px;
    }
    &__item svg {
      position: absolute;
      top: 20px;
      right: 30px;
      padding: 0px 0 0 455px;
      fill: #231F20;
      opacity: 0.3;
    }
    &__title {
      margin: 0;
      padding: 30px 356px 49px 39px;
      width: 130px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
    }
    &__item--color {
      background: #56c3b2;
    }
    &__item--color svg {
      right: 30px;
    }
  }
}
