@import "./variables";
@import "./mixins";

.products-links {
  margin: -101px 0 0 0;
  @include clearfix;

  &__item {
    position: relative;
    width: 320px;
    background: #63d1bb;
  }
  &__item svg {
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 0 0 0 248px;
    fill: #231F20;
    opacity: 0.3;
  }
  &__title {
    margin: 0;
    padding: 30px 159px 31px 30px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
  }
  &__item--color {
    background: #56c3b2;
  }
  &__item--color svg {
    right: 20px;
  }
  &__item svg:hover {
    opacity: 0.7;
  }
  &__item svg:focus {
    opacity: 0.3;
  }
  &__title:focus {
  opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {

  .products-links {
    position: relative;
    display: flex;
    flex: 1;
    width: 668px;
    margin: -121px auto 0 auto;
    padding: 0;

    &__item {
      width: 334px;
    }
    &__item svg {
      position: absolute;
      top: 20px;
      right: 30px;
      padding: 0px 0 0 263px;
      fill: #231F20;
      opacity: 0.3;
    }
    &__title {
      margin: 0;
      padding: 30px 175px 44px 30px;
      width: 130px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
    }
    &__item--color {
      background: #56c3b2;
    }
    &__item--color svg {
      right: 30px;
    }
  }
}

@media (min-width: $desktop-width) {

  .products-links {
    width: 1050px;
    margin: -130px auto 0 auto;

    &__item {
      width: 525px;
    }
    &__item svg {
      position: absolute;
      top: 20px;
      right: 30px;
      padding: 0px 0 0 455px;
      fill: #231F20;
      opacity: 0.3;
    }
    &__title {
      margin: 0;
      padding: 30px 365px 53px 30px;
      width: 130px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
    }
    &__item--color {
      background: #56c3b2;
    }
    &__item--color svg {
      right: 30px;
    }
  }
}
