@import "./variables";
@import "./common";

.reviews {
  padding: 0 30px 0 30px;

  &__img {
    display: none;
  }
  &__items {
    width: 260px;
  }
  &__item {
    margin: 0;
    padding: 0;
  }
  &__depiction {
    margin: 21px 0 26px 0;
    line-height: 30px;
  }
  &__author-name{
    display: block;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: bold;
  }
  &__author-email {
    display: block;
    margin-bottom: 30px;
    color: #444;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
  }
  &__btn-block {
    display: flex;
    margin: 35px 0 38px 0;
  }
  &__btn {
    width: 130px;
    height: 50px;
    background: #fff;
    border: 1px solid #ececec;
    font-size: 0;
  }
  &__btn--left {
    position: relative;
    outline: none;
  }
  &__btn--right {
    position: relative;
    outline: none;
  }
  &__btn--left:hover {
    opacity: 0.6;
  }
  &__btn--left:focus {
    opacity: 0.3;
  }
  &__btn--right:hover {
    opacity: 0.6;
  }
  &__btn--right:focus {
    opacity: 0.3;
  }
  &__btn--left:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 35px;
    width: 60px;
    height: 30px;
    background: url(../img/icon-left-arrow.svg) no-repeat;
  }
  &__btn--right:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 35px;
    width: 60px;
    height: 30px;
    background: url(../img/icon-right-arrow.svg) no-repeat;
  }
  & .btn {
    margin-bottom: 45px;
    padding: 12px 81px;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    @include clearfix;
    position: relative;
    padding: 0 50px 0 50px;
    width: 100%;

    &__img {
      display: block;
      position: absolute;
      width: 350px;
      height: 450px;
      top: 0;
      left: 0;
      z-index: -10;
    }
    &__items {
      width: 555px;
    }
    &__title {
      margin: 30px 0 0 0;
      font-size: 43px;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 771px;
      margin: 43px 0 88px 0;
    }
    &__item {
      width: 650px;
      margin: 0;
      padding: 0;
    }
    &__author-name{
      display: block;
      margin-bottom: 7px;
      font-size: 17px;
      font-weight: bold;
    }
    &__btn-block {
      position: absolute;
      width: 167px;
      bottom: 116px;
      right: 175px;
      margin: 0;
      padding: 0;
    }
    &__btn {
      flex: 1;
      height: 50px;
      background: #fff;
      border: none;
      font-size: 0;
    }
    & .btn {
      position: absolute;
      top: 79px;
      right: 152px;
      width: 170px;
      height: 20px;
      margin: 0;
      padding: 14px 0px;
    }
  }
  p.reviews__depiction {
    width: 650px;
    margin-bottom: 58px;
    margin-top: 44px;
    line-height: 30px;
    font-size: 17px;
  }
}


@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    width: 100%;
    padding: 0 50px 0 50px;

    &__img {
      position: absolute;
      width: 350px;
      height: 450px;
      top: 0;
      left: 50px;
      z-index: -10;
    }
    &__items {
      width: 785px;
    }
    &__title {
      font-size: 53px;
      margin: 20px 0 0;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 668px;
      margin: 40px 0 140px 176px;
    }
    &__item {
      width: 785px;
      margin: 0;
      padding: 0;
    }
    &__depiction {
      line-height: 25px;
      font-size: 17px;
    }
    &__author-name{
      display: block;
      margin-bottom: 6px;
      font-size: 17px;
      font-weight: bold;
    }
    p.reviews__depiction {
      width: 785px;
      margin-bottom: 39px;
    }
    &__btn-block {
      bottom: 168px;
      right: 171px;
    }
  }
}
