@import "./variables";
@import "../common";

.social {
  margin: 30px 40px 30px 40px;

  &__link {
    font-size: 0;
    padding-left: 30px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin: 60px auto 60px auto;

    &__link {
      font-size: 0;
      padding-left: 30px;
    }
  }
}


@media (min-width: $desktop-width) {
    .social {
      margin: 60px auto 60px auto;

    &__link {
      font-size: 0;
      padding-left: 30px;
    }
  }
}
